[submodule "dependencies/gimbl-vis"]
	path = dependencies/gimbl-vis
	url = https://github.com/erik-roberts/GIMBL-Vis

[submodule "dependencies/MDD"]
	path = dependencies/MDD_SM
	url = https://github.com/davestanley/MultiDimensionalDictionary.git
