*~
.directory
.DS_Store
outputs
models/personal
functions/personal
*.png
*.mat
*.zip
dsVars.txt
dsConfig.txt
_ignore
unitTestData/
docs/offline_docs
docs/offline_function_reference/
docs/_online_docs/
testCoverage/
solve/
