[submodule "functions/internal/unit-test"]
	path = functions/internal/unit-test
	url = https://github.com/DynaSim/unit-test.git
[submodule "functions/dependencies/MultiDimensionalDictionary"]
	path = functions/dependencies/MDD_SM
	url = https://github.com/davestanley/MultiDimensionalDictionary
