*~
*.png
*.zip
*.asv

.directory
.DS_Store

outputs
_ignore
unitTestData/
docs/offline_docs
docs/offline_function_reference/
docs/_online_docs/
testCoverage/
Users/

dsVars.txt
dsConfig.txt

dlFile.mat
dlTempFunc.m
dlTempFuncParamsChanger.m
dlModelTestBench.m

!models/
